meta(name="description" content="STYLE LIST")
meta(property="og:title" content="STYLE LIST")
meta(property="og:description" content="STYLE LIST")
//meta(property="og:image" content="URL")
//meta(property="og:url" content="URL")
meta(property="og:type" content="website")
meta(name="twitter:card" content="summary_large_image")

link(rel="shortcut icon" href="../src/asset/favicon.ico")
